@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor ElectroBot</h1>
Welcome to the ElectroBot (powered by Blazor)


<br><br>This is a simple application collecting various electrical data, analyzing it and providing a visual demonstration of it. An AI chatbot interface for user interaction is also present for faster search. 
<br>All data is also stored to -and can be retrieved from an MSSQL database.
