@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor ElectroBot</h1>
Welcome to the ElectroBot (powered by Blazor)


<br><br>This is a simple application collecting various electrical data, analyzing it and providing a chatbot interface for user interaction. 
<br>All data is stored and retrieved from a MSSQL database.
